/*
   [table of content]

   1. Import
        1.1. Import color
        1.2. Import mixins
        1.3. Import font
   2. Mobile-s style
        2.1. Blog
            2.1.1. Blog container
                2.1.1.1. Blog title
                2.1.1.2. Blog subtitle
            2.1.2. Blog slider
            2.1.3. Blog card
            2.1.4. Blog image container
            2.1.5. Blog calendar
                2.1.5.1. Blog calendar inner
            2.1.6. Blog month
            2.1.7. Blog date
            2.1.8. Blog summary
            2.1.9. Blog name
            2.1.10. Blog description
            2.1.11. Blog action
            2.1.12. Blog comment
   3. Mobile-l style
         3.1. Blog
            3.1.1. Blog card
   4. Tablet style
         4.1. Blog
            4.1.2. Blog slider
            4.1.3. Blog card   
   5. Laptop style
        5.1. Blog
            5.1.1. Blog container 
            5.1.2. Blog slider
            5.1.3. Blog card

*/

/*......... 1. Import ..........*/

    /*......... 1.1 Import color ..........*/
    @import '../global/_color.less';
    /*......... 1.2. Import mixins ..........*/
    @import '../global/_mixins.less';
    /*......... 1.1 Import font ..........*/
    @import '../global/_font.less';

/*......... End import ..........*/

/*......... 2. Mobile-s style ..........*/
@media screen and (min-width: 320px) {
    /*......... 2.1. Blog ..........*/
    .blog {
        /*......... 2.1.1. Blog container ..........*/
        &-container {
            .flex-main--center;
            width: 100%;
            height: 705px;
            margin-top: 36px;
            padding: 75px 10px 0;

            .montserrat--bold;
            text-transform: uppercase;

            box-sizing: border-box;
            background-image: url('../../../../asset/image/blog-bg.jpg');
            background-repeat: no-repeat;

            /*......... 2.1.1.1. Blog title ..........*/
            .feature-title {
                font-size: 10px;
            }

            /*......... 2.1.1.2. Blog subtitle ..........*/
            .feature-subtitle {
                font-size: 20px;
            }
        }

        /*......... 2.1.2. Blog slider ..........*/
        &-slider {
            .flex-main--arround;
            height: auto;

            overflow-x: hidden;
        }

        /*......... 2.1.3. Blog card ..........*/
        &-card {
            .flex-main--center;
            width: 100%;
            max-width: 300px;
            margin-left: 15px;
            margin-right: 15px;

            background-color: @_white-0;
            box-sizing: border-box;
        }

        /*......... 2.1.4. Blog image container ..........*/
        &-image-container {
            width: 100%;
            max-width: 360px;
            height: 200px;

            position: relative;

            overflow: hidden;
        }

        /*......... 2.1.5. Blog calendar..........*/
        &-calendar {
            width: 50px;
            height: 50px;
            padding: 5px;

            position: absolute;
            left:20px;
            top: 20px;
            z-index: 100;

            background-color: @_blue-0;
            user-select: none;

            /*......... 2.1.5.1. Blog calendar inner..........*/
            &-inner {
                .flex-main--center;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
                border: 1px solid @_white-3;

                text-transform: capitalize;
                color: @_white-0;

                box-sizing: border-box;
            }
        }

        /*......... 2.1.6. Blog month..........*/
        &-month {
            font-size: 14px;
            font-weight: 400;
        }

        /*......... 2.1.7. Blog date ..........*/
         &-date {
            font-size: 16px;
        }

        /*......... 2.1.8. Blog summary ..........*/
        &-summary {
            padding: 15px;
            border-bottom: 2px solid @_gray-7;

            text-transform: none;
        }

        /*......... 2.1.9. Blog name ..........*/
        &-name {
            margin-bottom: 17px;
            width: 100%;
            padding-left: 10px;

            color: @_black-0; 
            line-height: 20px;
            font-weight: 400;
            color: @_black-0;
        }

        &-name:hover {
            color: @_purple-0;
        }

        /*......... 2.1.10. Blog description ..........*/
        &-description {
            width: 100%;
            max-width: 321px;
            padding-left: 10px;

            .opensans--regular;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: .2px;
        }

        /*......... 2.1.11. Blog action ..........*/
        &-action {
            width: 100%;
            .flex-cross--start;
            padding: 16px 20px;

            .opensans--regular;
            font-size: 14px;
            color: @_gray-0;
        }

        /*......... 2.1.12. Blog comment ..........*/
        &-comment {
            margin-right: 30px;
        }
    }
}

/*......... End mobile-s style ..........*/

/*......... 3. Mobile-l style ..........*/
@media screen and (min-width: 425px) {
     /*......... 3.1. Blog ..........*/
     .blog {
        /*......... 3.1.1. Blog card ..........*/
        &-card {
            margin-left: 30px;
            margin-right: 30px;
        }
    }
}

/*......... End mobile-l style ..........*/

/*......... 4. Tablet style ..........*/
@media screen and (min-width: 768px) {
    /*......... 4.1. Blog ..........*/
    .blog {
        /*......... 4.1.1. Blog slider ..........*/
        &-slider {
            width: 60%;
        }

       /*......... 4.1.2. Blog card ..........*/
       &-card {
           margin-left: 100px;
           margin-right: 0px;
       }
   }
}

/*......... End tablet style ..........*/

/*......... 5. Laptop style ..........*/
@media screen and (min-width: 1024px) {
    /*......... 5.1. Blog ..........*/
    .blog {
        /*......... 5.1.1. Blog container ..........*/
        &-container {
            padding-top: 74px;
            flex-direction: column;
            .flex-cross--center;
            justify-content: start;

            .feature-content {
                .flex-cross--center;
                margin-bottom: 50px;
            }

            .feature-title {
                font-size: 12px;
                padding-left: 5px;
            }

            .feature-subtitle {
                font-size: 24px;
                letter-spacing: 2.2;
            }
        }

        /*......... 5.1.2. Blog slider ..........*/
        &-slider {
            max-width: 1140px;
            width: 100%;
            margin-left: 4px;
        }

       /*......... 5.1.3. Blog card ..........*/
       &-card {
           max-width: 375px;
           margin-left: 15px;
       }
   }
}

/*......... End laptop style ..........*/